<% provide(:title, 'Help') %>
<h1>Help Desk</h1>
<p>This is where our Help Desk and FAQ page will be.. <a href="http://www.mynection.com">MYNECTION</a>
	To get help on this app, see the
	<a href="railstutorial.org/help">Rails tutorail help page</a>
</p>
